@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

html {
    background-color: #f9fafa;
}
header{
    display: flex;
justify-content: space-between;
margin: auto;
}
a{
    font-size: 13px;
    color: black;
    padding: 0 10px;
    text-decoration: none;
    font-family:'Montserrat', sans-serif ;
    cursor: pointer;
    font-weight: bold;
}
a:hover{
    color: rgb(170,58,58);
}

.header__nav{
    margin: 20px 10px;
    color:black
}
p{
    color: black;
    font-size: 11px;
    margin: auto;
}
.header-text{
    display: flex;
    color: black;
}
.initials{
    margin: 20px 10px;
    font-size: 25px;
}
.vertical-line{
    border-left: 1px solid gray;
    height: 18px;
    margin: auto;
    
}
:root {
    font-family: 'Montserrat', sans-serif;
    color: black;
}
.content{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 justify-content: center;
  object-fit: cover;
  margin-top: 8px;
  padding: 0 4px;
  margin-top: 8px
}
.imgs{
    overflow: hidden;
}
.imgs:hover img{
transform: scale(1.2);

}
.imgs img{
    transition: transform 0.5s;
}

h2{ 
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.5em
}